<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <title>hello2</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to BootLab</h1>
        <p>...</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">按钮 1</button>
                <button type="button" class="btn btn-warning">按钮 2</button>
                <button type="button" class="btn btn-success">按钮 3</button>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary" href="#" role="button">Learn more</a>
            </div>
        </div>
        <div th:replace="footer :: author-footer"></div>
    </div>
</div>
</body>
</html>