<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>bootlab</title>
    <script>
        /*spring boot学习页面跳转功能*/
        function sblearnOnClick(){
            window.location.href='/sblearn'
        }
    </script>
</head>
<style>
    html,body{
        height: 100%;
        width: 100%;
    }
    #main-container{
        width: 80%;
        height: 100%;
    }
</style>
<body>
<div id="main-container" class="container" >
    <div class="jumbotron" style="height: 95%; margin-top: 2%;position: relative">
        <h1>Welcome to BootLab</h1>

        <div style="margin-top: 10%">
            <img src="" class="img-responsive center-block" th:src="@{/images/boot-lab.png}">
        </div>

        <div class="btn-toolbar"  style="margin-top: 10%; padding:0; width: 100%;">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">按钮 1</button>
                <button type="button" class="btn btn-warning">简单新闻推荐程序</button>
                <button id="sblearn" type="button" class="btn btn-success" onclick=sblearnOnClick()>Spring Boot 案例学习</button>
            </div>
            <div class="btn-group">
                <a class="btn btn-primary" href="#" role="button">Learn more</a>
            </div>
        </div>

        <div style="bottom: 0;position: absolute;width: 100%;left: 0">
            <div th:replace="footer::author-footer"></div>
        </div>

    </div>
</div>
</body>
</html>