<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>springbootlearn</title>
</head>
<body>
<style>
    html,body{
        height: 100%;
        width: 100%;
    }
</style>
<div class="container" style="padding: 0;height: 100%;width: 100%">
    <div class="col-lg-2 col-md-2" style="background: #e8e8e8;height: 100%">
        <p>垂直的胶囊式导航菜单</p>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">SVN</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">VB.Net</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">PHP</a></li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10" style="background: #efffcf;height: 100%">

    </div>
</div>
</body>
</html>